# Exercise 1 — Create a DataFrame With Duplicates

Create a DataFrame named DF1 with the following columns and values:

```python
column 1	column 2	column 3
    1	            a	            A
    1	            a	            A
    2	            b	            B
    2	            b	            B
    3	            c	            C
    3	            c	            C
    3	            c	            C
```

Tasks:
- Create the DataFrame
- Display it

# Exercise 2 — Identify Duplicate Rows

Using the DataFrame from Exercise 1:

Tasks:
1. Use .duplicated()
2. Display the Boolean output
3. Interpret which rows are duplicates
    - Hint: First occurrence = False, duplicates = True

# Exercise 3 — Remove All Duplicate Rows

Tasks:
1. Use .drop_duplicates() with no arguments
2. Display the resulting DataFrame
3. How many rows were removed?
4. Which unique rows remain?

# Exercise 4 — Modify a Single Value and Re-test Duplicates

Recreate the DataFrame from Exercise 1, but change the second-to-last value in column 3 from "C" to "D":

```python
column 1	column 2	column 3
    1	            a	            A
    1	            a	            A
    2	            b	            B
    2	            b	            B
    3	            c	            C
    3	            c	            D
    3	            c	            C
```

Tasks:
1. Recreate the modified DataFrame
2. Display it
3. Explain why this new row is no longer considered a duplicate

# Exercise 5 — Drop Duplicates Based on a Single Column

Using the modified DataFrame:

Tasks:
1. Remove duplicates based only on column 3

   Example:

      ```python
      df.drop_duplicates(['column 3'])
      ```
2. Display the result
3. Explain:
   - Which rows were dropped?
   - Why the row with 'D' is retained?

# Exercise 6 — Combined Duplicate Logic

Using the modified dataset:

Tasks:
1. Drop duplicates based on:
    - column 1 and column 2

        ```python
        df.drop_duplicates(['column 1', 'column 2'])
        ```
2. Explain how this differs from removing duplicates based only on column 3
3. Determine whether any duplicates remain

# Challenge Exercise — Realistic Duplicate Scenario
Create a new DataFrame simulating customer visits:

```python
customer_id	zip_code	purchase_id
    101	        32803	            A1
    102	        32803	            B1
    103	        32803	            C1
    101	        32803	            A2
    101	        32803	            A3
    102	        32803	            B2
```

This mimics the “Shopaholic Sally” example from the transcript.

Tasks:

1. Identify duplicates based on:
   - customer_id
   - purchase_id
2. Remove duplicates only by customer_id
   (Customer appears once)
3. Explain why this prevents demographic skew
4. Remove duplicates based on zip_code only — what happens, and why?