# 1. Simple Indexing with .iloc

 i. Create a DataFrame with numbers from 0 to 29, reshaped into 10 rows × 3 columns.
    Label rows as row 1 to row 10 and columns as column 1 to column 3.

 ii. Using .iloc, print the value at row 3, column 2.

 iii. Replace the value at row 0, column 0 with 100 and print the DataFrame.

# 2. Fancy Indexing

i. Select rows 2, 4, and 6 and columns 1 and 2 using .iloc.

ii. Try to select rows 1, 3, 5 using row labels and .loc.

iii. Create a new DataFrame by selecting the first and last columns for all rows.

# 3. Boolean Indexing

i. Using your numbers DataFrame, create a Boolean mask for all values greater than 15.

ii. Use the mask to display only the values greater than 15, leaving other cells as NaN.

iii. Replace all values greater than 20 with 0 using Boolean indexing.

# 4. Slicing

i. Extract rows 2 to 5 and columns 1 to 2 using .iloc.

ii. Slice every second row from the DataFrame.

iii. Slice rows from row 0 to row 6 and columns 0 and 2 simultaneously.

# 5. Combined Exercises

i. Create a DataFrame of random integers 0–50, 10 rows × 5 columns.

ii. Select rows 1, 3, 5 and columns 2, 4 using fancy indexing.

iii. Replace all values less than 10 with -1 using Boolean indexing.

iv. Slice the top-left 3×3 block and print it.

v. Use .iloc to update a single value in the sliced block and observe changes in the original DataFrame.

# 6. Challenge Exercise

i. Create a MultiIndex DataFrame with Region → City → Year. Fill it with random sales data.

ii. Select all rows for Region='Europe', City='Amsterdam'.

iii. Slice the DataFrame to show only data for years 2021–2023.

iv. Use Boolean indexing to display sales greater than 5000.